@import "tailwindcss";

@theme {
  --color-brand-primary: #6eb0ff;
  --color-brand-accent: #fde74c;
  --color-text-dark-bg: #f1f6fb;
  --color-text-light-bg: #192835;
  --color-bg-dark: #192835; 
  --color-brand-ash: #abb7b5;
  
  --font-sans: var(--font-figtree);
  --font-serif: var(--font-noto-serif);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-text-dark-bg);
  color: var(--color-bg-dark);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--color-brand-primary);
  color: var(--color-background);
}
